<div class="outer-nav">
    <div class="inner-nav-cont">
        <div class="col-8 inner-nav inner-left">
            <div class="search-div">
                <div class="col-2">
                    <img src="/static/images/logoG.png" alt="" class="nav-logo">
                </div>
        
                <div class="col-10">
                    <form method="POST" class="search-form">
                        <input type="text" name="search" class="search-input" placeholder="Search...">
                        <button class="search-btn">
                            <i class="material-icons search-icon">search</i>
                        </button>
                    </form>

                    <div class="col-10 search-output-div">
                        <a href=">">
                            <div class="col-12 search-outputs">
                                <img src="" alt="Cannot load image" class="search-output-img">
                                <span class="search-output-name">
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 inner-nav inner-right">
            <div class="icons-div">
                <% if(docs.uType === 'doctor') { %>
                    <div class="col-20">
                        <div class="material-icons nav-icons sched-icon active-icon">today</div>
                    </div>
                    <div class="col-20">
                        <div class="material-icons nav-icons patient-icon">assignment</div>
                    </div>
                    <div class="col-20">
                        <span class="counts notif-count">
                        </span>
                        <div class="material-icons nav-icons notif-icon">notifications_none</div>
                    </div>
                    <div class="col-20">
                        <span class="counts msg-count">
                        </span>
                        <div class="material-icons nav-icons mail-icon">mail_outline</div>
                    </div>
                    <div class="col-20">
                        <div class="material-icons nav-icons arrow-icon">arrow_drop_down</div>
                    </div>
                <% } else { %>
                    <div class="col-3">
                        <div class="material-icons nav-icons sched-icon active-icon">today</div>
                    </div>
                    <div class="col-3">
                        <span class="counts notif-count">
                        </span>
                        <div class="material-icons nav-icons notif-icon">notifications_none</div>
                    </div>
                    <div class="col-3">
                        <span class="counts msg-count">
                        </span>
                        <div class="material-icons nav-icons mail-icon">mail_outline</div>
                    </div>
                    <div class="col-3">
                        <div class="material-icons nav-icons arrow-icon">arrow_drop_down</div>
                    </div>
                <% } %>
                <div class="dropdown-div">
                    <span class="drop-contents profile-link">Profile</span>
                    <span class="drop-contents">Account settings</span>
                    <span class="drop-contents">Terms and Condition</span>
                    <span class="drop-contents sign-out">Sign-out</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sound"></div>
</div>