<!-- TODOS -->
<!-- GENERATE PROFILE DATA -->

<%- include('../index/header') %>

<link rel="stylesheet" href="/static/css/profile/timeline.css">
<%- include('styles') %>

</head>

<body>

    <%- include('nav') %>

    <%- include('scripts') %>
    
</body>
</html>