body {
    background-color: whitesmoke;
}

.outer-nav {
    background-color: white;
    height: 50px;
    box-shadow: 0 2px 2px 0 lightgray;
}

.inner-nav {
    height: 50%;
}

.nav-logo {
    height: 100%;
}

.col-2 {
    text-align: right;
    height: 100%;
}

.search-div {
    height: 50px;
    width: 550px;
    float: right;
}

.search-input {
    border: 1px solid lightgray;
    height: 30px;
    float: left;
    margin-top: 10px;
    border-radius: 15px 0 0 15px;
    padding: 5px 5px 5px 15px;
    width: 400px;
    outline: none;
    transition: 0.2s;
    border-right: none;
    box-shadow: 0 1px 2px 0 lightgray;
}

.search-btn {
    border: 1px solid lightgray;
    height: 30px;
    float: left;
    margin-top: 10px;
    padding-top: 3px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    outline: none;
    background-color: white;
    border-left: none;
    box-shadow: 0 1px 1px 0 lightgray;
    transition: 0.2s;
}

.search-icon {
    transition: 0.2s;
}

.icons-div {
    padding-top: 10px;
    width: 250px;
    text-align: center;
}

.nav-icons {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.nav-icons:hover, .nav-icons:active {
    color: #1da1f2;
}

.dropdown-div {
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
    width: 200px;
    position: relative;
    height: 200px;
    background-color: white;
    box-shadow: 0 3px 2px 0 lightgray;
    border: 1px solid lightgray;
    padding: 15px;
    display: none;
}

.drop-contents {
    float: left;
    width: 100%;
    padding: 5px;
    font-family: arial;
    outline: none;
    cursor: pointer;
}

.drop-contents:active {
    text-decoration: underline;
    color: #1da1f2;
}

@media only screen and (max-width: 768px) {
    .outer-nav {
        height: 100px;
        box-shadow: 0 0 0 0;        
    }

    .inner-left {
        width: 100%;
        box-shadow: 0 1px 1px lightgrey;
    }

    .search-div {
        width: 100%;
    }

    .search-input {
        width: 80%;
    }

    .inner-right {
        width: 100%;
    }
    
    .icons-div {
        width: 100%;
    }

    .dropdown-div {
        float: right;
        margin-top: 0;
        margin-right: 20px;
        font-size: 15px;
        width: 180px;
        height: 180px;
    }
}