.inner-div {
    padding: 10px 5px 10px 5px;
}

/*  --------------- PROFILE -------------- */

.inner-profile-div {
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 5px 0 lightgray;
}

.img-content-div {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    padding: 5px;
    box-shadow: 0 3px 5px lightgray;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 150px;
}

.details {
    display: none;
}

.details-div {
    margin-top: 15px;
    font-family: Arial;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    padding-bottom: 10px;    
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.specialty {
    font-size: 15px;
}

.access-btn {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
}

.since {
    font-size: 12px;
}

.titles {
    color: #1da1f2;
    margin-bottom: 2px;
}

.contents {
    font-size: 14px;
}

.clinic-info {
    text-align: left;
}

.clinic-name {
    font-size: 17px;
    text-decoration: underline;
}

.view-sched, .hide-sched {
    color: #1da1f2;
    text-decoration: underline;
    cursor: pointer;    
}

.sched-tbl {
    width: 100%;
    text-align: center;
}

.my-sched-td {
    padding: 10px;
}

.sched-content {
    height: 0;
    overflow: hidden;
}


/*  ----------- TIMELINE --------------- */
.timeline-div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inner-timeline-div {
    display: none;
}

.active-div {
    display: block;
}

.inner-bar {
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
}

.bar-btn {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 5px;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.bar-btn:hover {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
}

.active {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
}

.todays-div, .medical-records-div, .upcoming-div, .post-div {
    margin-top: 8px;
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 0 lightgrey;
}

.date-now {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}

.today-tbl {
    width: 100%;
}

.sched-td {
    padding: 15px;
    text-align: left;
}

.today-re-sched, .today-cancel {
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    width: 100px;
    border-radius: 3px;  
    cursor: pointer;
}

.today-re-sched {
    background-color: #1da1f2;
}

.today-cancel {
    background-color: #dd5347;
}


/* -------------- MEDICAL RECORDS ----------- */

.medical-records-div {
    text-align: left;
}

.doc-name {
    font-weight: bold;
    text-decoration: underline;
}


/* --------------- ADVERTISEMENTS ------------- */

.ads-div {
    font-family: Arial, Helvetica, sans-serif;
}

.ads-title {
    font-size: 15px;
    margin-top: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 0 lightgray;
    margin-bottom: 5px;
}

.inner-ads {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
    margin-bottom: 5px;
}


.ads-img-div {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.ads-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ads-links {
    color: #1da1f2;
}

.ads-content {
    font-size: 12px;
}


/* ------------- Modals ------------ */

.outer-modal-trick {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.outer-modal {
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
}

/*  ------------ Appoinment ----------- */

.appointment-modal, .cancel-modal, .add-medical-modal {
    width: 500px;
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.message {
    background-color: #1da1f2;
    color: white;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    display: none;    
}

.close-modal-div {
    text-align: right;
}

.close-modal-icon {
    cursor: pointer;
    font-size: 30px;
    color: lightgray;
}

.setSched-inputs {
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    width: 150px;
    height: 30px;
    padding: 3px;
}

.week-sched, .date, .time {
    border: 1px solid lightgray;
    background-color: transparent;
}

.setSched-btn {
    border: none;
    color: white;
    background-color: #1da1f2;
    border-radius: 5px;
    cursor: pointer;
}

/* Cancel Appointment ------------- Add Medical Records */

.cancel-modal, .add-medical-modal {
    text-align: left;
}

.cancel-message, .add-medical-message {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: none;
    transition: 0.3s;
}

.cancel-textarea, .add-medical-textarea {
    padding: 10px;
    outline: none;
    resize: none;
    width: 100%;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.cancel-sched-btn, .add-medical-sched-btn {
    background-color: #dd5347;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}


/* Add Medical Records */

.add-medical-message, .add-medical-sched-btn {
    background-color: #1da1f2;
}


@media only screen and (max-width: 900px) {
    .img-content-div {
        width: 130px;
        height: 130px;
    }

    .access-btn {
        font-size: 13px;
    }
    .ads-img {
        width: 120px;
        height: 120px;
    }

    .ads-img-div {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .inner-div {
        padding-bottom: 5px;
    }

    .ads-div {
        display: none;
    }
    
    .profile-div, .timeline-div {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .date-now {
        font-size: 15px;
        margin: 3px;
    }

    .my-sched-td {
        font-size: 12px;
        padding: 5px;
    }

    .setSched-inputs {
        width: 120px;
        font-size: 12px;
    }

    .appointment-modal, .cancel-modal, .add-medical-modal {
        width: 100%;
    }

    .message, .cancel-message, .add-medical-message {
        font-size: 12px;
        padding: 10px;
    }
    
    .close-modal-icon {
        font-size: 20px;
    }

    .cancel-textarea, .add-medical-textarea {
        font-size: 13px;
    }

    .cancel-sched-btn, .add-medical-sched-btn {
        font-size: 12px;
    }

}

@media only screen and (max-width: 500px) {
    .sched-td {
        font-size: 12px;
        padding: 5px;
    }

    .titles {
        font-size: 15px;
    }

    .clinic-name {
        font-size: 14px;
    }

    .contents {
        font-size: 12px;
    }

    .bar-btn {
        font-size: 12px;
    }

    .today-re-sched, .today-cancel {
        font-size: 12px;
        width: 70px;
        padding: 5px;
    }

}