.inner-div {
    padding: 10px 5px 10px 5px;
}

/*  --------------- PROFILE -------------- */

@media only screen and (max-width: 1366px) {
    .main {
        width: 1366px;
    }
}

.main {
    width: 100%;
}

.inner-profile-div {
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 5px 0 lightgray;
}

.img-content-div {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    padding: 5px;
    box-shadow: 0 3px 5px lightgray;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 150px;
}

.camera-icon {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 150px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.5);
}

.upload-container {
    position: absolute;
    width: 170px;
    margin-top: 150px;
}

.upload-form {
    display: none;
}

.details-div {
    margin-top: 25px;
    font-family: Arial;
    overflow: hidden;
    height: 100%;
    padding-bottom: 10px;    
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.specialty {
    font-size: 15px;
}

/* Profile Title */
.profile-title, .clinic-title {
    float: left;
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: white;
    border: 1px solid lightgray;
    border-bottom: 0;
    color: #1da1f2;
    font-weight: bold;
}

/* Basic Info Content */
.basic-info-content, .clinic-info-content {
    border: 1px solid lightgray;
    float: left;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 2px 0 lightgray;
}

.basic-contents, .clinic-contents, .clinic-contact {
    text-align: left;
    padding: 5px;
}

.basic-label, .clinic-label {
    color: gray;
    padding-right: 10px;
}

.input-data {
    padding-right: 10px;
}

.edit-info {
    font-size: 17px;
    color: #1da1f2;
    cursor: pointer;
    float: left;
    padding-right: 3px;
}

.saving-edited {
    width: 100%;
    float: left;
    text-align: center;
}

.edited-save {
    margin-top: 5px;
    border: none;
    border-radius: 150px;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #1da1f2;
    cursor: pointer;
}

.edited-cancel {
    cursor: pointer;
    color: #dd5347;
    border: none;
    background-color: white;
}


/* Clinic Title */
.clinic-title {
    margin-top: 10px;
}

.edit-info, .add-clinic, .add-sched, .edit-clinic-info {
    float: right;
    font-weight: lighter;
}

.edit-clinic-info {
    margin-left: 10px;
}

.edit-info-icon, .add-clinic-icon, .add-sched-icon, .edit-clinic-icon {
    font-size: 18px;
    float: left;
    cursor: pointer;
}

.edit-info-text, .add-clinic-text, .add-sched-text, .edit-clinic-text {
    font-size: 15px;
    float: left;
    cursor: pointer;
}

/* Schedules */
.schedule-title {
    color:#1da1f2;
    font-weight: bold;
    text-align: left;
    padding-top: 15px;
}
.add-contact {
    text-align: center !important;
    color: #1da1f2;
    cursor: pointer;
}

.add-contact-icon {
    cursor: pointer;
    float: left;
    font-size: 18px;
}

.add-contact-text {
    cursor: pointer;
    margin-top: 5px;
    float: right;
    font-size: 15px;
}

.access-btn {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
}

.since {
    font-size: 12px;
}

.titles {
    color: #1da1f2;
    margin-bottom: 2px;
}

.contents {
    font-size: 14px;
}

.clinic-info {
    text-align: left;
}

.clinic-name {
    font-size: 17px;
    text-decoration: underline;
}

.view-sched, .hide-sched {
    color: #1da1f2;
    text-decoration: underline;
    cursor: pointer;    
}

.sched-tbl {
    width: 100%;
    text-align: center;
}

.my-sched-td {
    padding: 10px;
}

.sched-content {
    height: 0;
    overflow: hidden;
}

.add-specialty-btn, .add-bio-btn {
    border: none;
    color: #1da1f2;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}
    
.add-specialty-text, .add-bio-text {
    float: left;
    padding-top: 5px;
}
.add-icon {
    margin-top: 3px;
    float: left;
    font-size: 20px;
}

.inputs-container {
    padding: 15px;
}

.inputs {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #1da1f2;
}

.inputs-textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    overflow: auto;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgray;
    height: 100px;
}

.save-cancel-div {
    padding-top: 0 !important;
}
.save-cancel-btn, .save-sched-btn {
    border: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    margin-bottom: 5px;
}

.save, .save-sched-btn {
    background-color: #1da1f2;
}

.cancel {
    color: black;
    background-color: white;
    color: #dd5347;;
}

.helper {
    width: 100%;
    float: left;
    font-size: 12px;
    color: red;
    text-align: left;
}

/*  ----------- TIMELINE --------------- */

.center-div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.inner-timeline-div, .center-inner-div {
    display: none;
}

.active-div, .active-center-div {
    display: block;
}

.inner-bar {
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
}

.bar-btn {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 5px;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.bar-btn:hover {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
}

.active {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
}

.todays-div, .medical-records-div, .upcoming-div, .post-div {
    margin-top: 8px;
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 0 lightgrey;
}

.date-now {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}

.today-tbl {
    width: 100%;
}

.sched-td, .sched-td-today {
    padding: 15px;
    text-align: left;
}

.today-re-sched, .today-cancel {
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    width: 100px;
    border-radius: 3px;  
    cursor: pointer;
}

.today-re-sched {
    background-color: #1da1f2;
}

.today-cancel {
    background-color: #dd5347;
}


/* ------------- Timeline Div ----------------- */

.timeline-nav {
    padding: 15px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
}

.timeline-btns {
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.active-timeline {
    color: #1da1f2 !important;
    border-bottom: 1px solid #1da1f2;
}

/* Timeline Contents */
.timeline-contents {
    border: 1px solid red;
    float: left;
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
    padding: 15px;
}


/* -------------- Notification Div -------------- */

.loader {
    width: 40px;
    margin: 15px;
}

.n-content {
    text-align: center;
}

.notif-div {
    text-align: left;
    background-color: white;
    border: 1px solid lightgray;
    float: left;
}

.new {
    background-color: #edf2fa;
}

.new-msg {
    font-weight: bold;
}

.notif-title {
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.notif-content {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px; 
    float: left;
}

.notif-span {
    width: 100%;
    float: left;
    text-align: left;
}

.notif-img {
    padding-top: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
}

.notif-img-src {
    width: 60px;
    border-radius: 150px;
    border: 2px solid white;
    box-shadow: 0 3px 3px 0 lightgray;    
}

.notif-from {
    width: 70%;
    padding-top: 5px;
    font-weight: bolder;
    font-size: 17px;   
}

.notif-message {
    width: 70%;
    font-size: 15px;
}

.notif-date {
    width: 70%;
    font-size: 13px;
}

.notif-none {
    text-align: center;
}

.old-msg, .old-date {
    color: gray;
}

/* Search */


.true-results, .false-result {
    border: 1px solid lightgray;
    padding: 15px;
    background-color: white;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.false-result {
    text-align: center;
    border-radius: 0;
}

.true-results:hover {
    box-shadow: 0 2px 2px lightgray;
}

.search-img {
    float: left;
    width: 60px;
    border-radius: 150px;
    border: 2px solid white;
    box-shadow: 0 2px 2px 0 lightgray;
}

.search-name {
    float: left;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
}

.search-loc {
    float: left;
    font-size: 13px;
    width: 80%;
    padding-left: 10px;
    color: gray;
}

/* Set Appointment */
.connect-div {
    padding-top: 15px;
    cursor: pointer;
}

.icon-cont {
    padding: 8px;
    border-radius: 150px;
    background-color: whitesmoke;
}

.appointment-text , .message-text{
    font-size: 14px;
    padding-top: 10px;
}

.set-sched-input {
    padding: 10px;
}

/* -------------- Chat Div ----------- */
.chat-div {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid lightgray;
    background-color: white;
}

.chat-header {
    height: 70px;
    box-shadow: 0 2px 2px 0 lightgray;
}

.chat-image {
    height: 100%;
    width: 50px;
    border-radius: 150px;
}

.inner-chat-header {
    height: 100%;
}

.chat-header-left {
    text-align: right;
    padding: 10px;
}

.chat-header-right {
    padding-top: 25px;
    text-align: left;
}

.chat-body {
    text-align: left;
    padding: 15px;
    height: 400px;
    overflow: auto;
}

.chat-input-div {
    height: 100px;
    border-top: 1px solid lightgray;
}

.chat-textarea-div {
    padding: 10px;
    padding-right: 0;
}

.chat-input {
    width: 100%;
    height: 78px;
    border: 1px solid lightgray;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.chat-btn-div {
    text-align: left !important;
    padding: 10px;
}

.send-chat-btn {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #1da1f2;
    font-size: 20px;
    height: 78px;
    border: 1px solid #1da1f2;
    cursor: pointer;
    outline: none;
}

.message-div {
    padding: 10px;
    word-wrap: break-word;
}

.message-div:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.3)
}

.chat-name {
    font-size: 15px;
}

.chat-output {
    resize: none;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding-top: 5px;
    word-wrap: break-word;
}

/* -------------- MEDICAL RECORDS ----------- */

.medical-records-div {
    text-align: left;
}

.doc-name {
    font-weight: bold;
    text-decoration: underline;
}


/* --------------- ADVERTISEMENTS ------------- */

.ads-div {
    font-family: Arial, Helvetica, sans-serif;
}

.ads-title {
    font-size: 15px;
    margin-top: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 0 lightgray;
    margin-bottom: 5px;
}

.inner-ads {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
    margin-bottom: 5px;
}


.ads-img-div {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.ads-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ads-links {
    color: #1da1f2;
}

.ads-content {
    font-size: 12px;
}


/* ------------- Modals ------------ */

.outer-modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.outer-modal {
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.inner-cont-modal {
    width: 500px;
}

.inner-modal {
    font-family: 'Roboto', sans-serif;
    margin-top: 7%;
    float: left;
    padding: 15px;
    border: 1px solid lightgray;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 7%;
}

.modal-notif-span {
    float: left;
    text-align: left;
}

.span-close {
    width: 100%;
    text-align: right;
}

.modal-img-notif {
    width: 100px;
}

.modal-img-src {
    width: 100%;
    border-radius: 150px;
    border: 2px solid white;
    box-shadow: 0 3px 3px 0 lightgray;
}

.modal-title-notif {
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 35px;
}

.modal-msg-notif {
    width: 100%;
    padding: 15px;
}

.modal-date-notif {
    font-size: 13px;
    padding-left: 15px;
}

.close-icon {
    cursor: pointer;
}

/* Doctor Set Schedule */

.sched-div {
    width: 700px;
}
.labels {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: left;
    color: gray;
    height: 15px;
    font-size: 13px;
}

.sched-title {
    color: #1da1f2;
    font-weight: bold;
    padding-bottom: 10px;
}

.sched-cont {
    padding-left: 15px;
    padding-right: 15px;
}


.inner-sched-cont {
    height: 80px;
}

.days-cont {
    padding-top: 20px;
}

.sched-btn-div {
    margin-top: 10px;
}

.set-sched-save {
    border: none;
    background-color: #1da1f2;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 150px;
    cursor: pointer;
}

.inputs {
    width: 100%;
}

/*  ------------ Appoinment ----------- */
.appointment-modal, .cancel-modal, .add-medical-modal  {
    margin-top: 5%;
    width: 500px;
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.message {
    background-color: #1da1f2;
    color: white;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    display: none;    
}

.close-modal-div {
    text-align: right;
}

.close-modal-icon {
    cursor: pointer;
    font-size: 30px;
    color: lightgray;
}

.setSched-inputs {
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    width: 150px;
    height: 30px;
    padding: 3px;
}

.date, .time {
    border: 1px solid lightgray;
    background-color: transparent;
}



.setSched-btn {
    border: none;
    color: white;
    background-color: #1da1f2;
    border-radius: 5px;
    cursor: pointer;
}

/* Cancel Appointment ------------- Add Medical Records */

.cancel-modal, .add-medical-modal {
    text-align: left;
}

.cancel-message, .add-medical-message {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: none;
    transition: 0.3s;
}

.cancel-textarea, .add-medical-textarea {
    padding: 10px;
    outline: none;
    resize: none;
    width: 100%;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.cancel-sched-btn, .add-medical-sched-btn {
    background-color: #dd5347;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}


/* Add Medical Records */

.add-medical-message, .add-medical-sched-btn {
    background-color: #1da1f2;
}

@media only screen and (max-width: 950px) {
    .send-chat-btn {
        font-size: 12px;
    }

    .basic-contents, .clinic-contents {
        width: 100%;
    }
}


@media only screen and (max-width: 900px) {
    .img-content-div {
        width: 130px;
        height: 130px;
    }

    .upload-container {
        margin-top: 100px;
        width: 120px;
    }

    .access-btn {
        font-size: 13px;
    }
    .ads-img {
        width: 120px;
        height: 120px;
    }

    .ads-img-div {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .inner-div {
        padding: 0;
        padding-top: 10px;
    }

    .ads-div {
        display: none;
    }

    .basic-contents, .clinic-contents {
        width: 50%;
    }

    .center-div, .profile-div, .search-profile-div{
        width: 100%;
    }

    /* Search Result Div */
    .search-res-div {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 700px) {
    .sched-div {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {

    .basic-contents, .clinic-contents {
        width: 100%;
    }

    /* Notif modal */

    .outer-modal {
        padding: 0;
    }

    .inner-cont-modal {
        width: 100%;
    }

    .inner-modal {
        margin: 0;
        border-radius: 0;
    }

    /* Schedule modal */

    .inner-sched-text {
        font-size: 14px;   
    }

    .sched-cont {
        padding: 3px;
    }

    .set-sched-input{
        font-size: 13px;
    }

    .days-cont {
        font-size: 13px;
    }

    /* Search Result */

    .true-results {
        padding: 10px;
    }

    .search-img {
        width: 50px;
    }

    .search-name {
        font-size: 14px;
    }


    /* Set Appointment */
    .set-sched-input {
        width: 100%;
    }


    .date-now {
        font-size: 15px;
        margin: 3px;
    }

    .my-sched-td {
        font-size: 12px;
        padding: 5px;
    }

    .setSched-inputs {
        width: 120px;
        font-size: 12px;
    }

    .appointment-modal, .cancel-modal, .add-medical-modal {
        width: 100%;
    }

    .message, .cancel-message, .add-medical-message {
        font-size: 12px;
        padding: 10px;
    }
    
    .close-modal-icon {
        font-size: 20px;
    }

    .cancel-textarea, .add-medical-textarea {
        font-size: 13px;
    }

    .cancel-sched-btn, .add-medical-sched-btn {
        font-size: 12px;
    }

    .chat-input {
        font-size: 13px;
    }

    .chat-textarea-div {
        width: 80%;
    }

    .chat-btn-div {
        width: 20%;
    }

    .chat-name {
        font-size: 12px;
    }

    .chat-output {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {

    /* Notification */
    .modal-img-notif {
        width: 70px;
    }
    .modal-img-src {
        width: 70px;
    }

    .modal-title-notif {
        padding-top: 25px;
        width: 60%;
    }

    .sched-td, .sched-td-today {
        font-size: 12px;
        padding: 5px;
    }

    .notif-title {
        font-size: 15px;
    }

    .notif-from {
        font-size: 15px;
    }

    .notif-img {
        width: 70px;
    }

    .notif-img-src {
        width: 40px;
    }

    .notif-message {
        width: 60%;
        font-size: 13px;
    }

    .notif-date {
        font-size: 12px;
    }

    .titles {
        font-size: 15px;
    }

    .clinic-name {
        font-size: 14px;
    }

    .contents {
        font-size: 12px;
    }

    .bar-btn {
        font-size: 12px;
    }

    .today-re-sched, .today-cancel {
        font-size: 12px;
        width: 70px;
        padding: 5px;
    }

    .chat-textarea-div {
        width: 75%;
    }

    .chat-btn-div {
        width: 25%;
    }

}
