.inner-div {
    padding: 10px 5px 10px 5px;
}

/*  --------------- PROFILE -------------- */

.inner-profile-div {
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 5px 0 lightgray;
}

.img-content-div {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    padding: 5px;
    box-shadow: 0 3px 5px lightgray;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 150px;
}

.camera-icon {
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 150px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.5);
}

.upload-container {
    position: absolute;
    width: 170px;
    margin-top: 150px;
}

.upload-form {
    display: none;
}

/* .details {
    display: none;
} */

.details-div {
    margin-top: 25px;
    font-family: Arial;
    overflow: hidden;
    height: 100%;
    padding-bottom: 10px;    
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.specialty {
    font-size: 15px;
}

.access-btn {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    outline: none;
}

.since {
    font-size: 12px;
}

.titles {
    color: #1da1f2;
    margin-bottom: 2px;
}

.contents {
    font-size: 14px;
}

.clinic-info {
    text-align: left;
}

.clinic-name {
    font-size: 17px;
    text-decoration: underline;
}

.view-sched, .hide-sched {
    color: #1da1f2;
    text-decoration: underline;
    cursor: pointer;    
}

.sched-tbl {
    width: 100%;
    text-align: center;
}

.my-sched-td {
    padding: 10px;
}

.sched-content {
    height: 0;
    overflow: hidden;
}

.add-specialty-btn, .add-bio-btn {
    border: none;
    color: #1da1f2;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}
    
.add-specialty-text, .add-bio-text {
    float: left;
    padding-top: 5px;
}
.add-icon {
    margin-top: 3px;
    float: left;
    font-size: 20px;
}

.inputs-container {
    padding: 15px;
}

.inputs {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #1da1f2;
}

.inputs-textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    overflow: auto;
    padding: 5px;
    width: 100%;
    border: 1px solid lightgray;
    height: 100px;
}

.save-cancel-div {
    padding-top: 0 !important;
}
.save-cancel-btn {
    border: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    margin-bottom: 5px;
}

.save {
    background-color: #1da1f2;
}

.cancel {
    background-color: #dd5347;
}

.helper {
    width: 100%;
    float: left;
    font-size: 12px;
    color: red;
    text-align: left;
}

/*  ----------- TIMELINE --------------- */

.center-div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inner-timeline-div, .center-inner-div {
    display: none;
}

.active-div, .active-center-div {
    display: block;
}

.inner-bar {
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
}

.bar-btn {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 5px;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.bar-btn:hover {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
}

.active {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
}

.todays-div, .medical-records-div, .upcoming-div, .post-div {
    margin-top: 8px;
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 0 lightgrey;
}

.date-now {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
}

.today-tbl {
    width: 100%;
}

.sched-td, .sched-td-today {
    padding: 15px;
    text-align: left;
}

.today-re-sched, .today-cancel {
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    width: 100px;
    border-radius: 3px;  
    cursor: pointer;
}

.today-re-sched {
    background-color: #1da1f2;
}

.today-cancel {
    background-color: #dd5347;
}


/* -------------- Chat Div ----------- */
.chat-div {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid lightgray;
    background-color: white;
}

.chat-header {
    height: 70px;
    box-shadow: 0 2px 2px 0 lightgray;
}

.chat-image {
    height: 100%;
    width: 50px;
    border-radius: 150px;
}

.inner-chat-header {
    height: 100%;
}

.chat-header-left {
    text-align: right;
    padding: 10px;
}

.chat-header-right {
    padding-top: 25px;
    text-align: left;
}

.chat-body {
    text-align: left;
    padding: 15px;
    height: 400px;
    overflow: auto;
}

.chat-input-div {
    height: 100px;
    border-top: 1px solid lightgray;
}

.chat-textarea-div {
    padding: 10px;
    padding-right: 0;
}

.chat-input {
    width: 100%;
    height: 78px;
    border: 1px solid lightgray;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.chat-btn-div {
    text-align: left !important;
    padding: 10px;
}

.send-chat-btn {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #1da1f2;
    font-size: 20px;
    height: 78px;
    border: 1px solid #1da1f2;
    cursor: pointer;
    outline: none;
}

.message-div {
    padding: 10px;
    word-wrap: break-word;
}

.message-div:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.3)
}

.chat-name {
    font-size: 15px;
}

.chat-output {
    resize: none;
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding-top: 5px;
    word-wrap: break-word;
}

/* -------------- MEDICAL RECORDS ----------- */

.medical-records-div {
    text-align: left;
}

.doc-name {
    font-weight: bold;
    text-decoration: underline;
}


/* --------------- ADVERTISEMENTS ------------- */

.ads-div {
    font-family: Arial, Helvetica, sans-serif;
}

.ads-title {
    font-size: 15px;
    margin-top: 0;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 0 lightgray;
    margin-bottom: 5px;
}

.inner-ads {
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px 0 lightgray;
    margin-bottom: 5px;
}


.ads-img-div {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.ads-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ads-links {
    color: #1da1f2;
}

.ads-content {
    font-size: 12px;
}


/* ------------- Modals ------------ */

.outer-modal-trick {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.outer-modal {
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
}

/*  ------------ Appoinment ----------- */
.appointment-modal, .cancel-modal, .add-medical-modal  {
    margin-top: 5%;
    width: 500px;
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.message {
    background-color: #1da1f2;
    color: white;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    display: none;    
}

.close-modal-div {
    text-align: right;
}

.close-modal-icon {
    cursor: pointer;
    font-size: 30px;
    color: lightgray;
}

.setSched-inputs {
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    width: 150px;
    height: 30px;
    padding: 3px;
}

.date, .time {
    border: 1px solid lightgray;
    background-color: transparent;
}

.setSched-btn {
    border: none;
    color: white;
    background-color: #1da1f2;
    border-radius: 5px;
    cursor: pointer;
}

/* Cancel Appointment ------------- Add Medical Records */

.cancel-modal, .add-medical-modal {
    text-align: left;
}

.cancel-message, .add-medical-message {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: none;
    transition: 0.3s;
}

.cancel-textarea, .add-medical-textarea {
    padding: 10px;
    outline: none;
    resize: none;
    width: 100%;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.cancel-sched-btn, .add-medical-sched-btn {
    background-color: #dd5347;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}


/* Add Medical Records */

.add-medical-message, .add-medical-sched-btn {
    background-color: #1da1f2;
}


@media only screen and (max-width: 950px) {
    .send-chat-btn {
        font-size: 12px;
    }
}


@media only screen and (max-width: 900px) {
    .img-content-div {
        width: 130px;
        height: 130px;
    }

    .upload-container {
        margin-top: 100px;
        width: 120px;
    }

    .access-btn {
        font-size: 13px;
    }
    .ads-img {
        width: 120px;
        height: 120px;
    }

    .ads-img-div {
        margin: 0;
    }

}

@media only screen and (max-width: 768px) {
    .inner-div {
        padding-bottom: 5px;
    }

    .ads-div {
        display: none;
    }
    
    .profile-div, .center-div {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .date-now {
        font-size: 15px;
        margin: 3px;
    }

    .my-sched-td {
        font-size: 12px;
        padding: 5px;
    }

    .setSched-inputs {
        width: 120px;
        font-size: 12px;
    }

    .appointment-modal, .cancel-modal, .add-medical-modal {
        width: 100%;
    }

    .message, .cancel-message, .add-medical-message {
        font-size: 12px;
        padding: 10px;
    }
    
    .close-modal-icon {
        font-size: 20px;
    }

    .cancel-textarea, .add-medical-textarea {
        font-size: 13px;
    }

    .cancel-sched-btn, .add-medical-sched-btn {
        font-size: 12px;
    }

    .chat-input {
        font-size: 13px;
    }

    .chat-textarea-div {
        width: 80%;
    }

    .chat-btn-div {
        width: 20%;
    }

    .chat-name {
        font-size: 12px;
    }

    .chat-output {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .sched-td, .sched-td-today {
        font-size: 12px;
        padding: 5px;
    }

    .titles {
        font-size: 15px;
    }

    .clinic-name {
        font-size: 14px;
    }

    .contents {
        font-size: 12px;
    }

    .bar-btn {
        font-size: 12px;
    }

    .today-re-sched, .today-cancel {
        font-size: 12px;
        width: 70px;
        padding: 5px;
    }

    .chat-textarea-div {
        width: 75%;
    }

    .chat-btn-div {
        width: 25%;
    }

}