<div class="outer-nav">
    <div class="col-8 inner-nav inner-left">
        <div class="search-div">
            <div class="col-2">
                <img src="/static/images/logoG.png" alt="Cannot load image" class="nav-logo">
            </div>

            <div class="col-10">
                <input type="text" name="search" class="search-input" placeholder="Search...">
                <button class="search-btn">
                    <i class="material-icons search-icon">search</i>
                </button>
                <div class="col-10 search-output-div">

                <% for(key in doctors) { %>
                    <a href="/profile/t/<%= doctors[key].uname %>">
                        <div class="col-12 search-outputs">
                            <img src="/static/images/profile-images/<%= doctors[key].img %>" alt="Cannot load image" class="search-output-img">
                            <span class="search-output-name">
                                <%= doctors[key].name %>
                            </span>
                        </div>
                    </a>
                <% } %>                    
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-4 inner-nav inner-right">
        <div class="icons-div">
            <div class="col-3">
                <div class="material-icons nav-icons sched-icon">today</div>
            </div>
            <div class="col-3">
                <div class="material-icons nav-icons notif-icon">notifications_none</div>
            </div>
            <div class="col-3">
                <div class="material-icons nav-icons mail-icon">mail_outline</div>
            </div>
            <div class="col-3">
                <div class="material-icons nav-icons arrow-icon">arrow_drop_down</div>
            </div>
                       
            <div class="dropdown-div">
                <span class="drop-contents">Profile</span>
                <span class="drop-contents">Account settings</span>
                <span class="drop-contents">Terms and Condition</span>
                <span class="drop-contents">Sign-out</span>
            </div>
        </div>
       
    </div>
</div>