
    <div class="col-12 outer-nav">
        <div class="col-4 inner-nav left-nav">
            <a href="/"><img src="/static/images/AERed.png" class="nav-logo"></a>
        </div>
        
        <div class="col-5 inner-nav center-nav">
            <a href="/"><button class="nav-desktop-btn">Home</button></a>
            <a href="/about"><button class="nav-desktop-btn">About Us</button></a>
            <a href="/contact"><button class="nav-desktop-btn">Contact Us</button></a>
        </div>

        <div class="col-3 inner-nav right-nav">
            <!-- <button class="sign-in-desktop">
                SIGN-IN
            </button>
            -->
            <button class="menu-btn">
                <i class="material-icons">menu</i>
            </button>
        </div>

        <div class="menu-bar">
            <a href="/" class="mobile-links">
                <span class="nav-mobile-btn">Home</span>
            </a>
            <a href="/about" class="mobile-links">
                <span class="nav-mobile-btn">About Us</span>
            </a>
            <a href="/contact" class="mobile-links">
                <span class="nav-mobile-btn">Contact Us</span>
            </a>
            <!-- <span class="nav-mobile-btn">Sign-In</span> -->
        </div>
    </div>