
    <div class="col-12 outer-nav">
        <div class="col-4 inner-nav left-nav">
            <a href="/"><img src="/static/images/AERed.png" class="nav-logo"></a>
        </div>
        
        <div class="col-5 inner-nav center-nav">
            <a href="/"><button class="nav-desktop-btn">Home</button></a>
            <a href="/about"><button class="nav-desktop-btn">About Us</button></a>
            <a href="/contact"><button class="nav-desktop-btn">Contact Us</button></a>
        </div>

        <div class="col-3 inner-nav right-nav">
            <button class="sign-in-desktop sign-modal">
                SIGN-IN
            </button>
            
            <button class="menu-btn">
                <i class="material-icons menu-icon">menu</i>
            </button>
        </div>

        <div class="menu-bar">
            <div class="menu-close">
                <i class="material-icons menu-close-icon">close</i>
            </div>
            <a href="/" class="mobile-links">
                <span class="nav-mobile-btn">Home</span>
            </a>
            <a href="/about" class="mobile-links">
                <span class="nav-mobile-btn">About Us</span>
            </a>
            <a href="/contact" class="mobile-links">
                <span class="nav-mobile-btn">Contact Us</span>
            </a>
            <span class="nav-mobile-btn sign-modal">Sign-In</span>
        </div>
    </div>

   <div class="sign-outer">
       <center>
            <div class="sign-inner">
                <div class="close-div">
                        <i class="material-icons close-icon">close</i>
                    </div>
    
                    <img src="/static/images/axGray.png" alt="" class="sign-img">
    
                    <form class="sign-form">
                    </form>
            </div>
       </center>
   </div>
   
