
    <div class="col-12 outer-nav">
        <div class="col-4 inner-nav left-nav">
            <a href="/"><img src="/static/images/AERed.png" class="nav-logo"></a>
        </div>
        
        <div class="col-5 inner-nav center-nav">
            <a href="/"><button class="nav-desktop-btn">Home</button></a>
            <a href="/about"><button class="nav-desktop-btn">About Us</button></a>
            <a href="/contact"><button class="nav-desktop-btn">Contact Us</button></a>
        </div>

        <div class="col-3 inner-nav right-nav">
            <button class="sign-in-desktop sign-modal">
                SIGN-IN
            </button>
            
            <button class="menu-btn">
                <i class="material-icons menu-icon">menu</i>
            </button>
        </div>

        <div class="menu-bar">
            <div class="menu-close">
                <i class="material-icons menu-close-icon">close</i>
            </div>
            <a href="/" class="mobile-links">
                <span class="nav-mobile-btn">Home</span>
            </a>
            <a href="/about" class="mobile-links">
                <span class="nav-mobile-btn">About Us</span>
            </a>
            <a href="/contact" class="mobile-links">
                <span class="nav-mobile-btn">Contact Us</span>
            </a>
            <span class="nav-mobile-btn sign-modal">Sign-In</span>
        </div>
    </div>

   <div class="sign-outer">
       <center>
            <div class="sign-inner">
                <div class="close-div">
                        <i class="material-icons close-icon">close</i>
                    </div>
    
                    <img src="/static/images/axGray.png" alt="Couldn't load image" class="sign-img">
    
                    <form class="sign-form" method="POST">
                        <div class="doctor-signup">
                            <span class="signup-message"></span>
                        
                            <!-- First Index Container -->
                            <div class="next-cont active-cont">
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> Firstname</label>
                                    <input type="text" name="fname" class="inputs" placeholder="Firstname">
                                    <span class="helper fname-helper"></span>
                                </div>
                        
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> Middlename</label>
                                    <input type="text" name="mname" class="inputs" placeholder="Middle Name">
                                    <span class="helper mname-helper"></span>
                                </div>
                        
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> Lastname</label>
                                    <input type="text" name="lname" class="inputs" placeholder="Lastname">
                                    <span class="helper lname-helper"></span>
                                </div>
                            </div>
                        
                        
                            <!-- Second Index Container -->
                            <div class="next-cont">
                                <div class="input-container col-6">
                                    <label class="label"><label class="asterisk">*</label> Birthdate</label>
                                    <input type="date" name="dob" class="inputs">
                                    <span class="helper dob-helper"></span>
                                </div>
                        
                                <div class="input-container col-6 gender-cont">
                                    <label class="label"><label class="asterisk">*</label> Gender</label>
                                    <select name="gender" class="inputs select">
                                        <option value="Male">Male</option>
                        
                                        <option value="Female">Female</option>
                                    </select>
                                    <span class="helper gender-helper"></span>
                                </div>
                        
                                <div class="input-container col-12">
                                    <label class="label"><label class="asterisk">*</label> Contact Number</label>
                                    <input type="text" name="contact" class="inputs" placeholder="Contact Number">
                                    <span class="helper contact-helper"></span>
                                </div>
                        
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> Address</label>
                                    <input type="text" name="address" class="inputs" placeholder="Address">
                                    <span class="helper address-helper"></span>
                                </div>
                            </div>
                        
                        
                            <!-- Thir Index Container  -->
                            <div class="next-cont">
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> Clinic Address</label>
                                    <input type="text" name="cAddress" class="inputs" placeholder="Clinic Address">
                                    <span class="helper c-address-helper"></span>
                                </div>
                        
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> Clinic Contact number</label>
                                    <input type="text" name="cContact" class="inputs" placeholder="Clinic Contact Number">
                                    <span class="helper c-contact-helper"></span>
                                </div>
                        
                                <div class="input-container">
                                    <label class="label"><label class="asterisk">*</label> PRC License number</label>
                                    <input type="text" name="prc" class="inputs" placeholder="PRC License number">
                                    <span class="helper prc-helper"></span>
                                </div>
                        
                                <div class="input-container">
                                    <label class="container-check">Accept our Terms and Condition
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark-check"></span>
                                    </label>
                                    <span class="helper terms-helper">You need to agree our Terms and Condition</span>
                                </div>
                            </div>
                        
                            <div class="input-container">
                                <div class="col-6 forgot-div">
                                    <span>
                                        <a href="#" class="go-back">Go back</a>
                                    </span>
                                </div>
                        
                                <div class="col-6 sign-btn-div">
                                    <button class="sign-btn">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
       </center>
   </div>
   
