body{
    background: url('/static/images/indexBC.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
}

.outer-nav{
    box-shadow: 0 0 2px 0 white;
    padding: 0;
}

.nav-logo{
    width: 350px;
}

.inner-nav{
    text-align: center;
}

.nav-desktop-btn{
    margin-right: 20px;
    margin-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
}

.nav-desktop-btn:hover, .sign-in-desktop:hover{
    color: gray;
}


.sign-in-desktop{
    margin-top: 70px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    width: 160px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.sign-outer {
    height: 100%;
    position: absolute;
    width: 100%;
    display: none;
}

.sign-inner {
    margin-top: 50px;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    width: 450px;
    height: 470px;
}

.sign-form {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.close-div {
    text-align: right;
}

.close-icon {
    font-size: 15px !important;
    cursor: pointer;
}

.sign-img {
    width: 50%;
}

.label {
    float: left;
    text-align: left;
}

.input-container {
    padding: 15px;
}

.inputs {
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.inputs:focus {
    border: 1px solid black;
} 

.helper {
    font-size: 13px;
    color: red;
    text-align: left;
    float: left;
}

.sign-btn {
    background-color: #1976d2;
    color: white;
    border: none;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-div {
    text-align: left;
}

.forgot-link, .sign-up-link {
    color:#1976d2;
    font-size: 13px;
}

.sign-btn-div {
    text-align: right;
}

.remember-me {
    font-size: 10px;
}

/*---------- Mobile ----------- */

.menu-btn{
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 60px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
    outline: none;
}

.mobile-links {
    color: black;
}

i {
    font-size: 30px !important;
}

.menu-bar{
    width: 0px;
    position: fixed;
    right: 0;
    height: 100%;
    background-color: whitesmoke;
    transition: 0.2s;
}

.nav-mobile-btn{
    cursor: pointer;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media only screen and (max-width: 1000px) {
    .nav-logo{
        width: 300px;
    }
    .nav-desktop-btn{
        margin-top: 65px;
    }

    .sign-in-desktop{
        margin-top: 60px;
    }

}

@media only screen and (max-width: 950px) {
    
    .nav-desktop-btn{
        font-size: 13px;
        margin-right: 10px;
    }

    .sign-in-desktop{
        font-size: 13px;
        width: 120px;
        padding: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .left-nav, .right-nav{
        width: 50% !important;
    }

    .right-nav{
        text-align: right;
    }

    .center-nav, .sign-in-desktop{
        display: none;
    }

    .menu-btn{
        display: inline;
    }

}

@media only screen and (max-width: 600px) {
    .nav-logo{
        width: 210px;
    }

    .nav-mobile-btn{
        font-size: 13px;
    }

    .menu-btn {
        margin-top: 40px;
    }

}

@media only screen and (max-width: 500px) {
    .sign-inner {
        width: 100%;
        border-radius: 0;
    }
}